Repository ansys/grantami-bomanalytics-openapi, pull requests merged in 2025-05, with the labels that each got.

#215 Generate build provenance attestation
  .github/workflows/build_and_test_library.yml
Labels: maintenance

#218 Prepare 4.0.0rc2 release
  ansys-grantami-bomanalytics-openapi/pyproject.toml
  pom.xml
Labels: maintenance, code-gen

#219 Update swagger to build 1532
  ansys-grantami-bomanalytics-openapi/pyproject.toml
  yaml/Granta.BomAnalyticsServices.V1.yaml
  yaml/Granta.BomAnalyticsServices.V2.yaml
Labels: maintenance, api-definition

#220 Prepare 4.0.0rc4 release
  ansys-grantami-bomanalytics-openapi/pyproject.toml
  pom.xml
Labels: maintenance, code-gen

#222 Use commit SHAs to pin action versions
  .github/workflows/build_and_test_library.yml
  .github/workflows/dependabot_approve.yml
  .github/workflows/generate_library.yml
  .github/workflows/label.yml
  ansys-grantami-bomanalytics-openapi/pyproject.toml
Labels: maintenance

#224 Update base version number to 4.1.0
  ansys-grantami-bomanalytics-openapi/pyproject.toml
  pom.xml
Labels: maintenance, code-gen

#223 Prepare 4.0.0 release
  ansys-grantami-bomanalytics-openapi/pyproject.toml
  pom.xml
Labels: maintenance, code-gen
